<!DOCTYPE html>
<html lang="en" xmlns:th = "https://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
</head>
<body>
<form action="#" th:action = "@{/createEmployee}" th:object ="${employee}" method="post">
    <div>
    <label> First Name</label>
    <input type="text" th:field = "*{FirstName}"/> </div>
    <div>
    <label> Last Name</label>
    <input type="text" th:field = "*{LastName}"/></div>
    <div>
    <label> Email</label>
    <input type="text" th:field = "*{Email}"/></div>
    <input type="hidden" th:field = "*{id}">
        <div>
            submit
            <input type="submit" value="SUBMIT"/>
</div>

</form>
 </body>
</html>