<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Index Page</title>
</head>
<body>
<form action="save" method="post">
    <table>
        <tr>
            <td>
                <lable for = "name"> Name </lable>
            </td>
            <td>
                <input type="text" name = "name"> </input>
            </td>
        </tr>
        <tr>
            <td>
                <lable for = "email"> Email </lable>
            </td>
            <td>
                <input type="text" name = "email"> </input>
            </td>
        </tr>
        <tr>
            <td>
                <input type = "submit" value = "Submit" > </input>
            </td>
        </tr>
    </table>
</form>
<a th:href = "@{/add}">hello></a>
</body>
</html>
